body {
    font-family: Tahoma, sans-serif;
    font-size: 1rem;
    padding: 24px;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}
td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 16px;
}
th {
    background-color: rgb(215, 215, 215);
}
td {
    text-align: center;
}
hr {
    margin-top: 24px;
    border: none;
    border-top: 3px dotted black;
}
.round {
    background-color: rgb(235, 235, 235);
}